<div class="apd-addfbg"></div>
<div class="apdeoadd">
    <div class="row thadr-tp" ><!-- data-ng-controller="form_controller" -->
        <!--left heading-->
		<div class="apd-ftplog">
			<img src="assets/images/appedo.svg" />
		</div>
		<div class="font_22 clr626161 apdo-adttl apd-rbtmdmfnfmly"></div>
        <!--right icons-->
		<div class="apd-clsewr clr626161">
			<div class="aped-apiconcls">
				<i class="icon-help font_22" title="help"></i>
			</div>
			<div class="aped-apiconcls">
				<i class="icon-close font_18 apd-curpnt" data-ng-click="close()" title="close"></i>
			</div>
		</div>
    </div>
    
	<div class="apdad-mbdy">
		<div class="apd-admcntwrpr">
			<div class="apd-frm">
				<form name="changePasswordForm"  method="post" class="apd-frm2wrpr" ><!-- action="./changePassword" -->
					<div class="apd-login_home icon-login"></div>
					<div class="apd-frmtitl font_20 apd-rbtrgfnfmly clr1b639e"> Change Password </div>
                       
                       <!-- <label class="alert alert-danger apd-frmfld control-label font_14" ng-show="showSignupErrorMsg">
                           {{signupErrorMsg}}
                       </label> -->
                       
					<label class="alert alert-danger apd-frmfld control-label font_14" ng-show="showErrorMsg"> {{errorMsg}} </label>
					<label class="alert alert-success apd-frmfld control-label font_14" ng-show="showSuccessMsg"> {{successMsg}} </label>
                       
					<div class="apd-frm2fld font_14" >
						<label for="oldPassword" class="control-label font_14">Old Password</label>
						<input type="password" name="oldPassword" id="oldPassword" class="clr444444 font_12" placeholder="Old Password" ng-model="userPasswordDetails.oldPassword" focus="true" required />
						<!-- <p ng-show="changePasswordForm.retypePassword.$invalid" class="help-block">Old password is mandatory</p> -->
					</div>
                       
					<div class="apd-frm2fld font_14" >  <!-- ng-class="{'has-error' : signupForm.retypePwd.$invalid && signupForm.retypePwd.$dirty}"> -->
						<label for="newPassword" class="control-label font_14">New Password</label>
						<input type="password" name="newPassword" id="newPassword" class="clr444444 font_12" placeholder="New Password" ng-model="userPasswordDetails.newPassword" required />
					</div>
                       
					<div class="apd-frm2fld font_14" ng-class="{'has-error' : changePasswordForm.retypePassword.$invalid && changePasswordForm.retypePassword.$dirty}">
						<label for="retypePassword" class="control-label font_14">Retype Password</label>
						<input type="password" name="retypePassword" id="retypePassword" class="clr444444 font_12" placeholder="Retype Password" ng-model="userPasswordDetails.retypePassword" check-password-match match="userPasswordDetails.newPassword" required />
						<p ng-show="changePasswordForm.retypePassword.$invalid && changePasswordForm.retypePassword.$dirty" class="help-block">Password doesn't match</p>
					</div>
                       
					<br><br>
					<div class="">
						<span class="fa-stack  ">
						<i class="fa fa-circle fa-stack-2x clr3166A7"></i>
						<i class="fa fa-info fa-stack-1x " style="color: white;"></i>
						</span>
						
						<span class="font_12">You will be forced to signout, once password is updated.</span> 
					</div>
                       
					<div class="apd-sbmtbtn1-wrper font_18">
						<div class="apd-frgotps">
							<button type="button" class="apdo-loginbtn btn btn-success font_18" ng-disabled="changePasswordForm.$invalid" ng-click="changePassword()" >Change Password</button><!-- ng-click="updateMyProfile()" -->
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
