<div class="apd-addfbg"></div>
<div class="apdeoadd">
	<div class="row thadr-tp" data-ng-controller="form_controller">
		<!--left heading-->

		<div class="apd-ftplog">
			<img src="assets/images/appedo.svg" />
		</div>
		<div class="font_22 clr626161 apdo-adttl apd-rbtmdmfnfmly">Notifications</div>
		<!--right icons-->
		<div class="apd-clsewr clr626161">
			<div class="aped-apiconcls">
				<i class="icon-close font_18 apd-curpnt" data-ng-click="close()"
					title="close"></i>
			</div>
		</div>
	</div>
	<div class="apdad-mbdy">
		<div class="apd-admcntwrpr">
		<div class="row apd-admcnt">
                <div class="col-lg-12 clr3569a pdb">
                		<div class="row apd-notifications" >
	                        <div class="apd-notification col-lg-10 col-md-10 col-sm-12 col-xs-12">
	                            <div class="clr1b639e font_18 apd-rbtmdmfnfmly apd-notify-msg">
	                                    Development in progress
	                            </div>
	                        </div>
                            <div class="col-lg-1 col-md-1 col-sm-12  col-xs-12 apdeo-apiconrt">
                                <div class="apd-alerticon">
                                    <i class="icon-moderatehealth" aria-hidden="true"></i>
                                </div>
                            </div>
                		</div> 
                		<!-- <div class="row apd-notifications" data-ng-repeat="alert in notifications">
	                        <div class="apd-notification col-lg-10 col-md-10 col-sm-12 col-xs-12">
	                            <div class="clr1b639e font_18 apd-rbtmdmfnfmly apd-notify-msg">
	                                    {{alert.message}}
	                            </div>
	                            <div class="clr1b639e font_12 apd-rbtrgfnfmly">{{alert.time | date:'EEEE @ h:mm a'}}</div>
	                        </div>
                            <div class="col-lg-1 col-md-1 col-sm-12  col-xs-12 apdeo-apiconrt">
                                <div class="apd-alerticon">
                                    <i class="icon-moderatehealth" aria-hidden="true"></i>
                                </div>
                            </div>
                		</div> -->
	                </div>
			</div>
		</div>

	</div>
</div>