<!--topheading-->
<div class="apdeoadd" data-ng-controller="form_controller">
    <div class="row thadr-tp">
        <!--left heading-->
        <div class="apd-ftplog">
            <img src="assets/images/appedo.svg" />
        </div>
        <div class="font_22 apdo-adttl apd-rbtmdmfnfmly">
            Add
        </div>
        <!--right icons-->
        <div class="apd-clsewr" data-ng-controller="form_controller">
            <div class="aped-apiconcls"><i class="icon-help font_22" title="help"></i>
            </div>
            <div class="aped-apiconcls"><i class="icon-close font_18 apd-curpnt" data-ng-click="close()" title="close"></i>
            </div>
        </div>
    </div>
    <!--maincontent-adds-->
    <div class="apdad-mbdy">

        <div class="apd-admcntwrpr">
            <div class="row apd-admcnt">
                <div class="apdad-heading apd-rbtrgfnfmly font_20 clr1b639e">What would you like to add?</div>
                <div class="apd-apmslct">
                    <h1 class="font_14 clr1b639e ">Choose Module</h1>
                    <div class="apd-adchsf">
                        <select class="clr444444 font_18">
                            <option value="selcect application type" disabled selected>Select application type*</option>
                            <option value="Application 1">Application 1</option>
                            <option value="Application 2">Application 2</option>
                            <option value="Application 3">Application 3</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-12 clr3569a pdb">

                    <div class="row aped-aplcthd active">

                        <!--apps add-->
                        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 ad-pdlt ">
                            <h1 class="clr3569a font_20">
                                    Application
                                </h1>
                            <div class="b9c9da">You can add various applications to monitor the performance</div>
                            <div class="4f86b3"> Mobile Apps, Web Apps, Enterprise Apps and more</div>

                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12  col-xs-12 apdeo-apiconrt">
                            <div class="aped-apicon">
                                <i class="icon-application"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!--apps add-->
                <div class="col-lg-12 clr3569a pdb">
                    <div class="row aped-aplcthd">

                        <!--server add-->
                        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 ad-pdlt">
                            <h1 class="clr3569a font_20">
                                    Server
                                </h1>
                            <div class="b9c9da">You can add various server to monitor the performance</div>
                            <div class="4f86b3">Web servers, Application servers and more</div>

                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12  col-xs-12 apdeo-apiconrt">
                            <div class="aped-apicon aped-apiconsrvr">
                                <i class="icon-servers"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!--server add end-->
                <div class="col-lg-12 clr3569a pdb">
                    <div class="row aped-aplcthd">
                        <!--apdatabase add-->
                        <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 ad-pdlt">
                            <h1 class="clr3569a font_20">
                                    Database
                                </h1>
                            <div class="b9c9da">You can add various databases to monitor the performance</div>
                            <div class="4f86b3">My SQL, MS SQL, Oracle and more</div>

                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12  col-xs-12 apdeo-apiconrt">
                            <div class="aped-apicon aped-apicondtbse">
                                <i class="icon-database"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="apd-adbtnmrtp btn btn-success pull-right" data-ng-click="openAddModule()">PROCEED</button>


            </div>
        </div>
    </div>
</div>