<div class="apdcardcontainer">
	<div class="apdcrdcatgrywrpr">
		<div class="row apdcrdcatgry apd-rbtrgfnfmly" >
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" >
	        	<div class="font_18 apd-slpltbmr clr1b639e">User Sign Ups</div>
				<div style="border: 1px groove; margin-bottom: 15px; margin-top: 20px;">
					<div>
						<div class="row">
							<div class="apd-slpltm col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<div class="font_18 apd-slpltbmr clr626161">{{signup.value1}}</div>
								<div class="font_16 clr42a6db">{{signup.lable1}}</div>
							</div>
							<div class="apd-slpltm col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<div class="font_18 apd-slpltbmr clr626161">{{signup.value2}}</div>
								<div class="font_16 clr42a6db">{{signup.lable2}}</div>
							</div>
						</div>
					</div>
					<div>
						<div class="row">
							<div class="apd-slpltm col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<div class="font_18 apd-slpltbmr clr626161">{{signup.value3}}</div>
								<div class="font_16 clr42a6db">{{signup.lable3}}</div>
							</div>
							<div class="apd-slpltm  col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<div class="font_18 apd-slpltbmr clr626161">{{signup.value4}}</div>
								<div class="font_16 clr42a6db">{{signup.lable4}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 ">
				<div class="font_18 apd-slpltbmr clr1b639e">Logged in Details</div>
				<div style="border: 1px groove; margin-bottom: 15px; margin-top: 20px;">
					<div>
						<div class="row">
							<div class="apd-slpltm col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<div class="font_18 apd-slpltbmr clr626161">{{loggedin.value1}}</div>
								<div class="font_16 clr42a6db">{{loggedin.lable1}}</div>
							</div>
							<div class="apd-slpltm col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<div class="font_18 apd-slpltbmr clr626161">{{loggedin.value2}}</div>
								<div class="font_16 clr42a6db">{{loggedin.lable2}}</div>
							</div>
						</div>
					</div>
					<div>
						<div class="row">
							<div class="apd-slpltm col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<div class="font_18 apd-slpltbmr clr626161">{{loggedin.value3}}</div>
								<div class="font_16 clr42a6db">{{loggedin.lable3}}</div>
							</div>
							<div class="apd-slpltm col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<div class="font_18 apd-slpltbmr clr626161">{{loggedin.value4}}</div>
								<div class="font_16 clr42a6db">{{loggedin.lable4}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 ">
				<div class="font_18 apd-slpltbmr clr1b639e">Load Test Conducted</div>
				<div style="border: 1px groove; margin-bottom: 15px; margin-top: 20px;">
					<div>
						<div class="row">
							<div class="apd-slpltm col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<div class="font_18 apd-slpltbmr clr626161">{{lt.value1}}</div>
								<div class="font_16 clr42a6db">{{lt.lable1}}</div>
							</div>
							<div class="apd-slpltm col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<div class="font_18 apd-slpltbmr clr626161">{{lt.value2}}</div>
								<div class="font_16 clr42a6db">{{lt.lable2}}</div>
							</div>
						</div>
					</div>
					<div>
						<div class="row">
							<div class="apd-slpltm col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<div class="font_18 apd-slpltbmr clr626161">{{lt.value3}}</div>
								<div class="font_16 clr42a6db">{{lt.lable3}}</div>
							</div>
							<div class="apd-slpltm col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<div class="font_18 apd-slpltbmr clr626161">{{lt.value4}}</div>
								<div class="font_16 clr42a6db">{{lt.lable4}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 ">
				<div class="font_18 apd-slpltbmr clr1b639e">SLA Breaches</div>
				<div style="border: 1px groove; margin-bottom: 15px; margin-top: 20px;">
					<div>
						<div class="row">
							<div class="apd-slpltm col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<div class="font_18 apd-slpltbmr clr626161">{{sla.value1}}</div>
								<div class="font_16 clr42a6db">{{sla.lable1}}</div>
							</div>
							<div class="apd-slpltm col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<div class="font_18 apd-slpltbmr clr626161">{{sla.value2}}</div>
								<div class="font_16 clr42a6db">{{sla.lable2}}</div>
							</div>
						</div>
					</div>
					<div>
						<div class="row">
							<div class="apd-slpltm col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<div class="font_18 apd-slpltbmr clr626161">{{sla.value3}}</div>
								<div class="font_16 clr42a6db">{{sla.lable3}}</div>
							</div>
							<div class="apd-slpltm col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<div class="font_18 apd-slpltbmr clr626161">{{sla.value4}}</div>
								<div class="font_16 clr42a6db">{{sla.lable4}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row apdcrdcatgry apd-rbtrgfnfmly" >
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" >
	        	<div class="font_18 apd-slpltbmr clr1b639e">Monitor Agents Added</div>
				<div style="border: 1px groove; margin-bottom: 15px; margin-top: 20px;">
					<div>
						<div class="row">
							<div class="apd-slpltm col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<div class="font_18 apd-slpltbmr clr626161">{{agents.value1}}</div>
								<div class="font_16 clr42a6db">{{agents.lable1}}</div>
							</div>
							<div class="apd-slpltm col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<div class="font_18 apd-slpltbmr clr626161">{{agents.value2}}</div>
								<div class="font_16 clr42a6db">{{agents.lable2}}</div>
							</div>
						</div>
					</div>
					<div>
						<div class="row">
							<div class="apd-slpltm col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<div class="font_18 apd-slpltbmr clr626161">{{agents.value3}}</div>
								<div class="font_16 clr42a6db">{{agents.lable3}}</div>
							</div>
							<div class="apd-slpltm col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<div class="font_18 apd-slpltbmr clr626161">{{agents.value4}}</div>
								<div class="font_16 clr42a6db">{{agents.lable4}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 ">
				<div class="font_18 apd-slpltbmr clr1b639e">Application</div>
				<div style="border: 1px groove; margin-bottom: 15px; margin-top: 20px;">
					<div>
						<div class="row">
							<div class="apd-slpltm col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<div class="font_18 apd-slpltbmr clr626161">{{application.value1}}</div>
								<div class="font_16 clr42a6db">{{application.lable1}}</div>
							</div>
							<div class="apd-slpltm col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<div class="font_18 apd-slpltbmr clr626161">{{application.value2}}</div>
								<div class="font_16 clr42a6db">{{application.lable2}}</div>
							</div>
						</div>
					</div>
					<div>
						<div class="row">
							<div class="apd-slpltm col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<div class="font_18 apd-slpltbmr clr626161">{{application.value3}}</div>
								<div class="font_16 clr42a6db">{{application.lable3}}</div>
							</div>
							<div class="apd-slpltm col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<div class="font_18 apd-slpltbmr clr626161">{{application.value4}}</div>
								<div class="font_16 clr42a6db">{{application.lable4}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 ">
				<div class="font_18 apd-slpltbmr clr1b639e">Server</div>
				<div style="border: 1px groove; margin-bottom: 15px; margin-top: 20px;">
					<div>
						<div class="row">
							<div class="apd-slpltm col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<div class="font_18 apd-slpltbmr clr626161">{{server.value1}}</div>
								<div class="font_16 clr42a6db">{{server.lable1}}</div>
							</div>
							<div class="apd-slpltm col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<div class="font_18 apd-slpltbmr clr626161">{{server.value2}}</div>
								<div class="font_16 clr42a6db">{{server.lable2}}</div>
							</div>
						</div>
					</div>
					<div>
						<div class="row">
							<div class="apd-slpltm col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<div class="font_18 apd-slpltbmr clr626161">{{server.value3}}</div>
								<div class="font_16 clr42a6db">{{server.lable3}}</div>
							</div>
							<div class="apd-slpltm col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<div class="font_18 apd-slpltbmr clr626161">{{server.value4}}</div>
								<div class="font_16 clr42a6db">{{server.lable4}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 ">
				<div class="font_18 apd-slpltbmr clr1b639e">Database</div>
				<div style="border: 1px groove; margin-bottom: 15px; margin-top: 20px;">
					<div>
						<div class="row">
							<div class="apd-slpltm col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<div class="font_18 apd-slpltbmr clr626161">{{database.value1}}</div>
								<div class="font_16 clr42a6db">{{database.lable1}}</div>
							</div>
							<div class="apd-slpltm col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<div class="font_18 apd-slpltbmr clr626161">{{database.value2}}</div>
								<div class="font_16 clr42a6db">{{database.lable2}}</div>
							</div>
						</div>
					</div>
					<div>
						<div class="row">
							<div class="apd-slpltm col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<div class="font_18 apd-slpltbmr clr626161">{{database.value3}}</div>
								<div class="font_16 clr42a6db">{{database.lable3}}</div>
							</div>
							<div class="apd-slpltm col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<div class="font_18 apd-slpltbmr clr626161">{{database.value4}}</div>
								<div class="font_16 clr42a6db">{{database.lable4}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row apdcrdcatgry apd-rbtrgfnfmly" >
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" >
	        	<div class="font_18 apd-slpltbmr clr1b639e">SUM Active Test</div>
				<div style="border: 1px groove; margin-bottom: 15px; margin-top: 20px;">
					<div>
						<div class="row">
							<div class="apd-slpltm col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<div class="font_18 apd-slpltbmr clr626161">{{sum.value1}}</div>
								<div class="font_16 clr42a6db">{{sum.lable1}}</div>
							</div>
							<div class="apd-slpltm col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<div class="font_18 apd-slpltbmr clr626161">{{sum.value2}}</div>
								<div class="font_16 clr42a6db">{{sum.lable2}}</div>
							</div>
						</div>
					</div>
					<div>
						<div class="row">
							<div class="apd-slpltm col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<div class="font_18 apd-slpltbmr clr626161">{{sum.value3}}</div>
								<div class="font_16 clr42a6db">{{sum.lable3}}</div>
							</div>
							<div class="apd-slpltm col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<div class="font_18 apd-slpltbmr clr626161">{{sum.value4}}</div>
								<div class="font_16 clr42a6db">{{sum.lable4}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 ">
				<div class="font_18 apd-slpltbmr clr1b639e">SUM Active Nodes</div>
				<div style="border: 1px groove; margin-bottom: 15px; margin-top: 20px;">
					<div>
						<div class="row">
							<div class="apd-slpltm col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<div class="font_18 apd-slpltbmr clr626161">{{sumnode.value1}}</div>
								<div class="font_16 clr42a6db">{{sumnode.lable1}}</div>
							</div>
							<div class="apd-slpltm col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<div class="font_18 apd-slpltbmr clr626161">{{sumnode.value2}}</div>
								<div class="font_16 clr42a6db">{{sumnode.lable2}}</div>
							</div>
						</div>
					</div>
					<div>
						<div class="row">
							<div class="apd-slpltm col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<div class="font_18 apd-slpltbmr clr626161">{{sumnode.value3}}</div>
								<div class="font_16 clr42a6db">{{sumnode.lable3}}</div>
							</div>
							<div class="apd-slpltm col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<div class="font_18 apd-slpltbmr clr626161">{{sumnode.value4}}</div>
								<div class="font_16 clr42a6db">{{sumnode.lable4}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 ">
				<div class="font_18 apd-slpltbmr clr1b639e">SUM Measurements</div>
				<div style="border: 1px groove; margin-bottom: 15px; margin-top: 20px;">
					<div>
						<div class="row">
							<div class="apd-slpltm col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<div class="font_18 apd-slpltbmr clr626161">{{summst.value1}}</div>
								<div class="font_16 clr42a6db">{{summst.lable1}}</div>
							</div>
							<div class="apd-slpltm col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<div class="font_18 apd-slpltbmr clr626161">{{summst.value2}}</div>
								<div class="font_16 clr42a6db">{{summst.lable2}}</div>
							</div>
						</div>
					</div>
					<div>
						<div class="row">
							<div class="apd-slpltm col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<div class="font_18 apd-slpltbmr clr626161">{{summst.value3}}</div>
								<div class="font_16 clr42a6db">{{summst.lable3}}</div>
							</div>
							<div class="apd-slpltm col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<div class="font_18 apd-slpltbmr clr626161">{{summst.value4}}</div>
								<div class="font_16 clr42a6db">{{summst.lable4}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 ">
				<div class="font_18 apd-slpltbmr clr1b639e">RUM Measurements</div>
				<div style="border: 1px groove; margin-bottom: 15px; margin-top: 20px;">
					<div>
						<div class="row">
							<div class="apd-slpltm col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<div class="font_18 apd-slpltbmr clr626161">{{rummst.value1}}</div>
								<div class="font_16 clr42a6db">{{rummst.lable1}}</div>
							</div>
							<div class="apd-slpltm col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<div class="font_18 apd-slpltbmr clr626161">{{rummst.value2}}</div>
								<div class="font_16 clr42a6db">{{rummst.lable2}}</div>
							</div>
						</div>
					</div>
					<div>
						<div class="row">
							<div class="apd-slpltm col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<div class="font_18 apd-slpltbmr clr626161">{{rummst.value3}}</div>
								<div class="font_16 clr42a6db">{{rummst.lable3}}</div>
							</div>
							<div class="apd-slpltm col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<div class="font_18 apd-slpltbmr clr626161">{{rummst.value4}}</div>
								<div class="font_16 clr42a6db">{{rummst.lable4}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>