<div class="apd-subpnl apdmrgtp25">
	<div class="apd-subpnlcntnt">
		<div class="row ">
             <div class="col-lg-8 col-md-6 col-sm-6 col-xs-6  col-xs-push-1 clr1b639e" style="margin-left: 325px;">    
				<div class="apm-radiobtn apm-radiobtn-no-margin apd-mrrt20 font_14">
		        	<div class="apd-rdbtn clr1b639e apd-mrgnbtm" style="margin-bottom: 0px;">
				        <input type="radio" name="radioExpire" id="radioExpire" class="css-checkbox" ng-model="radioExpire" value="expire" ng-click="loadExpireDetails()" checked="true" />
						<label for="radioExpire" class="css-label radGroup1" style="color: #1b639e;">Expired</label>
				    </div>
				    <div class="apd-rdbtn clr1b639e" style="margin-bottom: 0px;">
						<input type="radio" name="radioExpire" id="radioExpireDue" class="css-checkbox" ng-model="radioExpireDue" value="radioExpireDue" ng-click="loadExpireDetails()"/>
						<label for="radioExpireDue" class="css-label radGroup1 " style="color: #1b639e;">
							Will expire in next
						</label>
						<label class="apdofn " style="position: relative; top: 7px;">	
							<span class="apd-fldwdt apd-fldwdt_inline apd-mrgnlft apd-mrrt05 clr626161" style="width: 50px;">
								<input type="text" name="expiredInDays" id="expiredInDays" class="font_14 apd-right"/>
							</span>
							Days
						</label>
					</div>
				</div>
			</div>
			<div class="col-lg-11 col-md-10 col-sm-12 col-xs-12 apd-mrgntp30">
			<table class="table table-hover  table-condensed table-responsive">
				<thead>
					<tr>
						<th class="col-md-2">COMPANY</th>
						<th class="col-md-1">EMAIL</th>
						<th class="col-md-1">Contact No.</th>
						<th class="col-md-1">Expire(d) On </th>
						<th class="col-md-1">Remarks</th>
					</tr>
				</thead>
				<tbody id="array">
					<tr>
						<td class="col-md-1"><div><label><span style="font-weight:400;">11</span></label></div></td>
						<td class="col-md-2"><div><label><span style="font-weight:400;">aa</span></label></div></td>
						<td class="col-md-1"><div><label><span style="font-weight:400;">bb</span></label></div></td>
						<td class="col-md-1"><div><label><span style="font-weight:400;">cc</span></label></div></td>
						<td class="col-md-1"><div><label><span style="font-weight:400;">dd</span></label></div></td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
