<div class="apd-subpnl apdmrgtp25">
	<div class="apd-subpnlcntnt">
		<div class="row ">
			
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 apd-msrbtm10	apd-border-bottom ">
				<div class="col-md-3  font_18 clr1b639e">Settings - Applicable for all users</div>
			</div>
			
		
			<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 apdcrdchd01">
				<form class="apd-rbtrgfnfmly font_13" name="licenseSettings" style="margin-left: 70px;">
					<div class="apd-fldwdt apd-fldwdt_inline admin_settings_input" >
						<label class="font_13 admin_settings_label" style="">SMS Frequency For Expired License</label>
						<input type="text" name="smsFrqExp" ng-model="smsFrqExp" maxlength="" class="clr444444 apd-first-char-up"> in Days
					</div>
					<div class="apd-fldwdt apd-fldwdt_inline admin_settings_input" >
						<label class="font_13 admin_settings_label" >Mail Frequency For Expired License</label>
						<input type="text" name="mailFrqExp" ng-model="mailFrqExp" maxlength="" class="clr444444 apd-first-char-up"> in Days
					</div>
					<div class="apd-fldwdt apd-fldwdt_inline admin_settings_input" >
						<label class="font_13 admin_settings_label" >SMS Frequency For about to Expire License</label>
						<input type="text" name="smsFrqAboutExp" ng-model="smsFrqAboutExp" maxlength="" class="clr444444 apd-first-char-up"> in Days
					</div>
					<div class="apd-fldwdt apd-fldwdt_inline admin_settings_input" >
						<label class="font_13 admin_settings_label" >Mail Frequency For about to Expire License</label>
						<input type="text" name="mailFrqAboutExp" ng-model="mailFrqAboutExp" maxlength="" class="clr444444 apd-first-char-up"> in Days
					</div>
					<div class="apd-fldwdt apd-fldwdt_inline admin_settings_input" >
						<label class="font_13 admin_settings_label" >First alert For about to Expire License</label>
						<input type="text" name="firstAlertAboutExp" ng-model="firstAlertAboutExp" maxlength="" class="clr444444 apd-first-char-up"> in Days
					</div>
					<div class="apd-fldwdt apd-fldwdt_inline admin_settings_input" >
						<label class="font_13 admin_settings_label" >Last alert after Expired License</label>
						<input type="text" name="lastAlertAfterExp" ng-model="lastAlertAfterExp" maxlength="" class="clr444444 apd-first-char-up"> in Days
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
