<div class="apd-addfbg"></div>
<div class="apdeoadd">
    <div class="row thadr-tp" data-ng-controller="form_controller">
        <!--left heading-->
        <div class="apd-ftplog">
            <img src="assets/images/appedo.svg" />
        </div>
        <div class="apd-fbck apd-curpnt" data-ng-click="close()"><img src="assets/images/back.png" />
        </div>
        <div class="font_22 apdo-adttl apd-rbtmdmfnfmly">
            Add/Edit Email & Mobile Number
        </div>
        <!--right icons-->
        <div class="apd-clsewr">
            <div class="aped-apiconcls"><i class="icon-help font_22" title="help"></i>
            </div>
            <div class="aped-apiconcls"><i class="icon-close font_18 apd-curpnt" data-ng-click="close()" title="close"></i>
            </div>
        </div>
    </div>
    <!--maincontent-adds-->
    <div class="apdad-mbdy">
        <div class="apd-admcntwrpr">
            <div class="row apdeo-adForm">
	            <div>
	                <div class="aped-apiconttlewr">
	                    <i class="{{moduleCardContent.icon_name}} aped-apiconttle" style="color: rgb(121, 91, 197);"></i> <span class="font_20 apd-rbtrgfnfmly clr1b639e aped-apiconttlewr">{{moduleCardContent.module_name}}</span>
	                </div>
	            </div>
                    <form class="apd-rbtrgfnfmly font_18" name="PolicyViewAlertFrom">
                        <div class="apd-fldwdt">
	                        <label class="font_14">Alert Type <font size="3px" color="red"><sup>*</sup></font></label>
							<select ng-model="slaPolicyViewAlertFrom.alertType">
                        		<option value="Email" >Email</option>
								<option value="SMS" >SMS</option>
                        	</select>
	                    </div>
                        <div class="apd-fldwdt" ng-if="slaPolicyViewAlertFrom.alertType==='Email'">
                            <label class="font_16">Email <font size="3px" color="red"><sup>*</sup></font></label>
                            <input type="email" name="email" ng-model="slaPolicyViewAlertFrom.email"  placeholder="Email" class="clr444444" required></input>
                        </div>
                        <div class="apd-fldwdt" ng-if="slaPolicyViewAlertFrom.alertType==='SMS'">
                            <label class="font_16">Mobile Number <font size="3px" color="red"><sup>*</sup></font></label>
                            <input type="text" name="sms" ng-model="slaPolicyViewAlertFrom.sms"  placeholder="Mobile Number" class="clr444444" required></input>
                        </div>
                        
                        <!-- label class="alert alert-danger apd-frmfld control-label font_14"
						ng-show="showAddModuleErrorMsg"> {{AddModuleErrorMsg}} </label-->
                        <div class="pull-right"  data-ng-controller="form_controller">
                            <button type="submit" class="apdo-adbtn btn btn-success" data-ng-click="SaveAndAdd()">Save & Add</button>
                        </div>
                        <div class="pull-right"  data-ng-controller="form_controller">
                            <button type="submit" class="apdo-adbtn btn btn-success" data-ng-click="SaveAndFinish()">Save & Finish</button>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>