<div class="apdcardcontainer" data-ng-controller="ServiceMapCardController">
    <div class="row">
    	<div class="apdo-crdtlte col-lg-12 col-md-12 col-sm-12 col-xs-12 font_18 clr1b639e" ng-show="showCardEmptyMsg">
    	Please click on <span class="apdo-ntfctn-add" style="margin-right: 4px;" data-ng-click="openAddModuleType()"><i class="icon-svg9"></i></span>to add new Service Map. </div>
    </div>
    <!--cardlist start-- apd-lineheight26 apd-lineheight30 apdo-cnterver-->
    <div class="apdcrdcatgrywrpr" data-ng-repeat="serviceMap in serviceMapCardData">

        <div class="row apdcrdcatgry apd-rbtrgfnfmly">
			<div class="col-lg-3 col-md-3 col-sm-4 col-xs-4 apdbgdcolor">
				<div class="font_22 clr626161 apd-mrbtm10 apdcrd-mrtp10 apd-lineheight26 clr626161 apd-first-char-up">{{serviceMap.name}}</div>
				
				<!-- <span class="cdcccc font_14 apd-rbtrglfnfmly apd-mrbtm10">Added by {{serviceMap.created_by}} on {{serviceMap.created_on | date:'dd-MMM-yyyy HH:mm:ss'}}</span> -->
				
				<!--
				<div class="font_14 apdcrd-mrtp05 apd-rbtrglfnfmly apd-curpnt">
					<span class="apd-rbtrgfnfmly clr626161">Description:</span><span class="apd-rbtrgfnfmly"> {{serviceMap.description}}</span>
				</div>
				 -->
				 
				<div class="font_14 apd-mrbtm10 apd-rbtrglfnfmly clr626161" >
					Updated On: <span class="cdcccc font_14 apd-rbtrglfnfmly apd-mrbtm10 ">{{serviceMap.updatedOn | date:'dd-MMM-yyyy HH:mm:ss'}}</span>
				</div>
			</div>

			<div class="col-lg-2 col-md-1 col-sm-3 col-xs-12 apdbgdcolor">
				<div class="font_16 clr949494 apd-center01 apdcrd-mrtp10">Applications</div>
				<div class="apdcrd-mrtp10 apd-center01 apdcrd-vrscnt font_40 apd-lineheight43 clr626161">{{serviceMap.modules_count.APPLICATION || 0}}</div>
			</div>
			<div class="col-lg-2 col-md-1 col-sm-3 col-xs-12 apdbgdcolor">
				<div class="font_16 clr949494 apd-center01 apdcrd-mrtp10">Servers</div>
				<div class="apdcrd-mrtp10 apd-center01 apdcrd-vrscnt font_40 apd-lineheight43 clr626161">{{serviceMap.modules_count.SERVER || 0}}</div>
			</div>
			<div class="col-lg-2 col-md-1 col-sm-3 col-xs-12 apdbgdcolor">
				<div class="font_16 clr949494 apd-center01 apdcrd-mrtp10">Database</div>
				<div class="apdcrd-mrtp10 apd-center01 apdcrd-vrscnt font_40 apd-lineheight43 clr626161">{{serviceMap.modules_count.DATABASE || 0}}</div>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-3 col-xs-12 apdbgdcolor">
				<div class="font_16 clr949494 apd-center01 apdcrd-mrtp10" style="width: 83px;">RUM</div>
				<div class="apdcrd-mrtp10 apd-center01 apdcrd-vrscnt font_40 apd-lineheight43 clr626161">{{serviceMap.modules_count.RUM || 0}}</div>
			</div>
			<div class="col-lg-2 col-md-1 col-sm-3 col-xs-12 apdbgdcolor">
				<div class="font_16 clr949494 apd-center01 apdcrd-mrtp10">SUM</div>
				<div class="apdcrd-mrtp10 apd-center01 apdcrd-vrscnt font_40 apd-lineheight43 clr626161">{{serviceMap.modules_count.SUM || 0}}</div>
			</div>

			<!-- apdcrd-leftwrprmrg from apdcrd-leftwrpr -->
			<!-- 
			<div class="col-lg-1 col-md-3 col-sm-12 col-xs-12 apdbgdcolor" style="padding-top:2px;">
				<div class="apd-crddnldicn">
					<div class="pull-right apdosmopt dropdown" dropdown >
						<div class="apd-apm-dropdown dropdown-toggle" dropdown-toggle>
							<i class="icon-svg8" style="padding-top: 10px;"></i>
						</div>
						<ul class="dropdown-menu" role="menu">
							<li><a ng-click="serviceMapCardEdit($index)">Edit</a></li>
							<li><a ng-click="deleteSelecteServiceMap($index)">Delete</a></li>
						</ul>
					</div>
				</div>
			</div>
             -->
            
			<div class="pull-right apdosmopt dropdown" dropdown >
				<div class="apd-apm-dropdown dropdown-toggle" dropdown-toggle>
					<i class="icon-svg8" style="padding-top: 10px; margin-left: -10px;"></i>
				</div>
				<ul class="dropdown-menu" role="menu">
					<li><a ng-click="serviceMapCardEdit($index)">Edit</a></li>
					<li><a ng-click="deleteSelecteServiceMap($index)">Delete</a></li>
				</ul>
			</div>
            
           <!--  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 apdbgdcolor">
                <div class="cdcccc font_14 apdcrd-mrtp05 apd-rbtrglfnfmly">
	                <span class="apd-rbtrgfnfmly">GUID:</span><span class="apd-rbtrgfnfmly"> {{serviceMap.guid}}</span>
                </div>
             </div> -->
            <!--cardlist end-->
        </div>
    </div>
</div>
