<div data-ng-include="'modules/header/login_header.html'"></div>
<div class="container">
    <div class="apd-frm">
        <form class="apd-frmwrpr" name="resetPwdForm" action="./newPassword">
            <div class="apd-login_home icon-login"></div>
            <div class="apd-frmtitl font_20 apd-rbtrgfnfmly clr1b639e">
                Password Reset
            </div>
            <div class="apd-frmfld font_14">
                <label for="inputPassword3" class="control-label font_14">Password</label>
                <input type="password" class="clr444444 font_18" name="password" id="password" placeholder="Password" ng-model="password" required>
                <input type="text" class="clr444444 font_18" name="uid" id="uid" ng-model="uid" style="display:none">
            </div>
            <div class="apd-frmfld font_14" ng-class="{'has-error' : resetPwdForm.retype_password.$invalid && resetPwdForm.retype_password.$dirty}">
                <label for="inputPassword3" class="control-label font_14">Retype Password</label>
                <input type="password" class="clr444444 font_18" name="retype_password" id="retype_password" placeholder="Retype Password" ng-model="retype_password" check-password-match match="password" required>
                <p ng-show="resetPwdForm.retype_password.$invalid && resetPwdForm.retype_password.$dirty" class="help-block">Password doesn't match</p>
            </div>
           
            <div class="apd-sbmtbtn-wrper font_18">
                <div class="apd-frgotps pull-right">
                    <button type="submit" class="apdo-loginbtn btn btn-success font_18" ng-disabled="resetPwdForm.$invalid" >Reset</button>
                </div>
            </div>
        </form>
    </div>
</div>