<div class="apd-testingcnt apdmrgtp25 apd-subpnl">
	<div class="row apdeo-adForm apd-marg-left ">
	
	    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6  apdmainright-ctgry" ng-repeat="counterData in applicationPrimaryCountersdata" id="apmMonitorDet_{{$index+1}}"> <!-- ng-repeat="summary in apmAppPriData"  -->
			
	        <div class="apd-grpcntlg3">
	            <div class="font_16 apd-rbtmdmfnfmly apd-grpcntlg3tl">
	            	<span class="clr949494 font_12">{{counterData.category}}</span>
					<span class="chartDashboardWidget apd-curpnt">
						<a ng-click="addChartToDashboard()" title="Add to dashboard" ng-if="!counterData.show_in_dashboard">
							<span class="fa-stack ">
								<i class="apdonavtpicns icon-svg2" ></i>
								<i class="fa fa-plus fa-stack-1x text-success dashboardSecondStacked"></i>
							</span>
						</a>
						<a ng-click="removeChartToDashboard()" title="Remove from dashboard" ng-if="counterData.show_in_dashboard">
							<span class="fa-stack ">
								<i class="apdonavtpicns icon-svg2" ></i>
								<i class="fa fa-times fa-stack-1x text-danger dashboardSecondStacked"></i>
							</span>
						</a>
					</span><br>
					<span>{{counterData.display_name}}</span>
	            </div>
	        </div>
	        <div>
				<!-- <appedo-area-chart-directive  id="d3Area_monitor_{{$index+1}}" modtype="apm" acctype="{{counterData.display_name}}" chartdata="counterData.graphData" pushdata="" paneltype="application" parrentnodeid="apmMonitorDet_{{$index+1}}" xaxisformat="{{d3XaixsFormat}}"></appedo-area-chart-directive>  -->
				
				<!-- <appedo-multi-area-chart-directive  id="d3Area_monitor_{{$index+1}}" modtype="apm" acctype="{{counterData.display_name}}" chartdata="counterData.graphData" pushdata="" paneltype="application" parrentnodeid="apmMonitorDet_{{$index+1}}" xaxisformat="{{d3XaixsFormat}}"></appedo-multi-area-chart-directive> -->
				
				
	            <appedo-multi-area-chart-directive  id="d3Area_monitor_{{$index+1}}" parrentnodeid="apmMonitorDet_{{$index+1}}"  
	            	modtype="apm" chartdata="counterData.graphData" tooltip-label="{{counterData.display_name}}" 
	            	paneltype="apm" xaxisformat="{{d3XaixsFormat}}" >
	            </appedo-multi-area-chart-directive><!-- last-one-hour-data="{{sliderSelectedValue == '1 hour'?true:false}}" -->
	        </div>
	        <div class="apdobtmbar01">
	        
	        </div>
	    </div>
	</div>
</div>
<!-- apdeo-adForm-intfm -->