<div class="apd-addfbg"></div>
<div class="apdeoadd">
    <div class="row thadr-tp" data-ng-controller="form_controller">
        <!--left heading-->

        <div class="apd-ftplog">
            <img src="assets/images/appedo.svg" />
        </div>
        <div class="apd-fbck apd-curpnt" data-ng-click="close()"><img src="assets/images/back.png" />
        </div>
        <div class="font_22 apdo-addheader apd-rbtmdmfnfmly">
            Select Location
        </div>
        <!--right icons-->
        <div class="apd-clsewr">
            <div class="aped-apiconcls"><i class="icon-help font_22" title="help"></i>
            </div>
            <div class="aped-apiconcls"><i class="icon-close font_18 apd-curpnt" data-ng-click="close()" title="close"></i>
            </div>
        </div>
    </div>
    <!--maincontent-adds-->
    <div class="apdad-mbdy">

        <div class="apd-admcntwrpr">
            <div class="row apdeo-adForm01">
                <form class="apd-rbtrgfnfmly font_12" name="sumCities">
                <div>
	                <div class="aped-apiconttlewr">
	                    <i class="icon-sum aped-apiconttle" style="color:#24a35d"></i> <span class="font_20 apd-rbtrgfnfmly clr1b639e aped-apiconttlewr">Synthetic User Monitor</span>
	                </div>
	            </div>
	            <br/>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <!--  first column  -->

                        <div class="apd-fldwdt01">
                            <label class="font_14">Country Name<font size="3px" color="red"><sup>*</sup></font></label>
                            <select class="clr1b639e font_16" data-ng-model="sumLocation.userNode" data-ng-options="userNode as userNode.country for userNode in userNodes">
                                <option value="">Select one</option>
                            </select>
                        </div>
                        <br/>
                        <div class="apd-fldwdt01">
                            <label class="font_14">Region/Location<font size="3px" color="red"><sup>*</sup></font></label>
                            <div class="" style="border:1px solid #B0ABAB; height: 250px; overflow: auto;">
                                <div class="" ng-repeat="city in citiesData" align="left" style="">
                                    <div class="chekbx" style="margin-left: 10px;">
                                        <label>
                                            <input class="font_12" type="checkbox" class="col-md-1" name="region" id="" value="{{city.city}}" ng-model="city.isSelected" />
                                            <span class="font_12" style="">{{city.city}}</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="apd-fldwdt01">
                            <label class="font_14">Selected Region/Location<font size="3px" color="red"><sup>*</sup></font></label>

                            <div class="">
                                <div class="" style="border:1px solid #B0ABAB; height: 329px; overflow: auto;">
                                   <!--  <div ng-repeat="city in cities">
                                        <div class="chekbx" ng-show="city.isSelected" style="margin-left: 10px;">
                                            <label for="{{city.city}}">
                                                <input class="font_12 clr1b639e" type="checkbox" class="col-md-1" name="selectedCities" id="{{city.city}}" value="{{city.city}}" style="" ng-model="city.isSelected" />
                                                <span class="font_12" style=""> - {{city.city}}</span>
                                            </label>
                                        </div>
                                    </div> -->
                                <div  class="" ng-repeat="userNode in userNodes" align="left" style="">
								<div  ng-repeat="city in userNode.cities">
									<div class="chekbx" ng-show="city.isSelected" style="margin-left: 10px;">
										<label for="city_{{userNode.country}}_{{city.city}}">
											<input class="font_12 clr1b639e"   
		 								type="checkbox" class="col-md-1" name="cities" id="city_{{userNode.country}}_{{city.city}}" 
		 								value="{{city.city}}" style="" ng-model="city.isSelected" />
											<span class="font_12" style="">{{userNode.country}} - {{city.city}}</span>
										</label>
									</div>
								</div>
								</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--  <label class="alert alert-danger apd-frmfld control-label font_14"
					ng-show="showConfigCountersErrorMsg"> {{ConfigCountersErrorMsg}} </label> -->
                    <div class="pull-right" data-ng-controller="form_controller">
                        <button type="submit" class="apdo-adbtn btn btn-success" data-ng-click="saveSumData()">{{saveButton}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
